* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #f6f8fa;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: #fff;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
}

h1 {
  text-align: center;
  color: #0e947e;
  margin-bottom: 1.5rem;
}

.input-group {
  display: flex;
  gap: 0.5rem;
}

input[type="text"] {
  flex: 1;
  padding: 0.6rem 0.8rem;
  border: 2px solid #0e947e;
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
}

#add-btn {
  background-color: #0e947e;
  color: #fff;
  border: none;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

#add-btn:hover {
  background-color: #0c7c6a;
}

#todo-list {
  margin-top: 1.5rem;
}
.remove-btn {
  background-color: #0b7fad;
  color: #352929;
  border: none;
  padding: 0.3rem 0.6rem;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 30px;
  margin-left: 50px;
  transition: background 0.2s ease-in-out;
}
.remove-btn:hover {
  background-color: #f3e306a9;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
}

li button {
  padding: 5px 10px;
}
